

*{
    margin: 0;
    padding: 0;     /*reseteo los espacios que el navegador trae por defecto */
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

a{
    color: inherit;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.427);
}

nav{


}

ul{
    display: flex;
    
}

li{
    margin: 0 20px;
    font-size: 30px;
    cursor: pointer;
    font-weight: 500;
}

li:hover{
    color: #0051ff;
}

li:first-child {
   color: #0051ff;
  }

header .logo span{
    color: #0051ff;
}

.logo{
    font-size: 40px;
    cursor: pointer;
}

/* menu Hambuegueza */
.menu-button{
    display: none;
    font-size: 30px;
    cursor: pointer;

  
}




.menu-button div{
    width: 40px;
    height: 40px;
    
    position: relative;
    
}

.menu-button span{
    background: #1f1e1e;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    display: block;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, width 0.5s ;
}

.menu-button .l1{
    transform: translate(-50%, -15px);
}

.menu-button .l3{
    transform: translate(-50%, 10px);
}


.activox  .l1{
    transform: translate(-50%, -50%)rotate(45deg);
}

.activox  .l3{
    transform: translate(-50%, -50%)rotate(-45deg);
}

.activox  .l2{
 width: 0;

}

/* fin del boton */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 80px;
 
  }

  img{
    width: 350px;
    height: 350px;
  }



/* texto + imagen */
.img{
    
    height: calc(100vh - 86px);
    width: 100%;
    display: flex;
    align-items: center;
    
}

.img-text{
    margin: 0 50px;
}

.slide{
font-size: 35px;
margin-bottom: 10px;
}

.one{
    background-color: #0051ffd2;
   
    border-radius: 3px;
    padding:0 10px;
}

.two {
    display: inline-block;
    color: var(--second-color);
    
    font-weight: 500;
}
     
.img-text h1 {
    font-size: 70px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;

}

.img-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
}

.img-text p {
    color: var(--second-color);
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.btn{
    
    display: inline-block;
    padding: 12px;
    background: #0051ff;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
  
}

.btn:hover {
    transform: scale(0.9);
}

.img-img{
    width: 600px;
    height: auto;
    transform: scaleX(-1);
}

/* flecha abajo */
.flecha-abajo{
    display: flex;
    justify-content: center;
    width: 100%;
    
    margin-bottom: 45px;
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 2.5s infinite;
}

.flecha-abajo i{
    font-size: 80px;
    color: #000000e5;

}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    }
    40% {
    transform: translateY(-20px);
    }
    60% {
    transform: translateY(-15px);
    }
}

/* About */

.about{
    margin:0 120px ;
    
}

.about-title{
width: 100%;
margin-bottom: 100px;
text-align: center;

position: relative;
font-size: 50px;
font-weight: 700px;
margin-bottom: 40px;
}

.about-title span{
    color: #0051ff;
}

.about-title::before{
content: '';
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: -5px;
width: 60px;
height: 4px;
background: #000;
}

.about-text h2{
    color: rgb(28, 27, 27);
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.about-text p{
    max-width: 700px;
    display: inline-block;
    font-size: 20px;
}

 .about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  
}

.about-img{
 object-fit: cover;
 width: 400px;
 height: auto;
}

.about-button{
    text-align: center;
    margin-top: 30px;
}

/* Services */

.services{
    margin-top: 50px;
}

.services-container{
    display: flex;
    margin: 0 50px;
}

.services-box{
    margin: 0 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(245, 245, 245);
}

.s-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.s-icons img{
    width: 50px;
    height: 50px;
    
    
}

.services-box h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.services-box p{
    font-size: 20px;
}



.services-btn{
    display: inline-block;
    background: #0051ff;
    color: #fff;
    font-size: 25px;
    padding:10px 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: 600;
}

/* .services-container .services-box .btn{
    margin-top: 20px;
    text-align: center;
    
} */

.services-box:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
 }

/* YouTube */
.porfolio{
    margin: 0 40px;
}

.porfolio-title{
    font-size: 45px;
    margin: 35px 0;
    text-align: center;
    position: relative;


}

.porfolio-title::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 60px;
    height: 4px;
    background: #000;
}

.porfolio-title span{
    color: #0051ff;
}

.porfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    /* margin-top: 5rem; */
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width: 100%;
    height: 40vh;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    /* background: linear-gradient(rgba(0,0,0,1), #739bf0); */
    background-color: #dad2d2b1;
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    font-size: 20px;
    line-height: 1.8;
}

.layer i{
    margin-top: 20px;
    font-size: 20px;

    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.row:hover img{
    transform: scale(1.1);

}

.row:hover .layer{
height: 100%;
}

/* Contacto */
.contacto-title{
    font-size: 45px;
    margin: 35px 0;
    text-align: center;
    position: relative;

}

.contacto-title::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 60px;
    height: 4px;
    background: #000;
}

.contacto-title span{
    color: #0051ff;
}

 .contacto-container{     /*contenerdor  */
    
    display: flex;
    margin: 50px 50px 0;
    gap: 60px;
  
}

.izquierda-contacto h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.izquierda-contacto p{
    font-size: 20px;
    letter-spacing: 2px;
}

.contact-icons{
    display: flex;
    
    font-size: 60px;
    margin-top: 30px;
    }

.contact-icons a {
    margin-right: 60px;
   
  }

  .contact-icons i:hover{
    
    color: #0051ff;
    
  }

.izquierda-contacto{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.form-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    /* color: red; */
  }
  
  fieldset{
    width: 400px;
    height: 450px;
  
    border-radius: 10px;
  }
  
  .box label{
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .box input{
    width: 400px;
    height: 30px;
    margin: 4px;
    
  }
  
  .box textarea{
    resize: none;
    width: 400px;
    margin: 4px;
  }
  
  .box-button{
    
    background-color:  #0051ff;
    border: 0;
    margin-top: 40px;
    padding: 10px 40px;
   
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    display: block;
    margin: 0 auto;
    
    
  
  } 
  .box-button:hover{
    font-size: 23px;
    transition: 0.5s;
  }

/* footer */
footer {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    margin-top: 50px;
  }
  
  footer p {
    margin: 0;
    font-size: 20px;
  }
  


/* Parte Responsiva */
@media screen and (max-width:480px){
    .menu-button{
        display: block;
        cursor: pointer;
    }

    nav{
        
        display: none; 
         
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        text-align: center;
        z-index: 1;
    }

    nav.activo{
        display: block; 
        animation: muestraMenu 0.3s ease-in-out both;
    }

   ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 86px);
    /* opacity: 0; */
   }

 
   @keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  /* nav.activo{
      display: flex; 
      animation: muestraMenu 1s ease-in-out both;
  } */ 
 
   li{
  
    font-weight: 550;
    
   }

   
}
